@font-face {
    font-family: Montserrat-Bold; /* Гарнитура шрифта */
    src: url(fonts/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Montserrat-SemiBold; /* Гарнитура шрифта */
    src: url(fonts/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Montserrat-Regular; /* Гарнитура шрифта */
    src: url(fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Poppins-ExtraLight; /* Гарнитура шрифта */
    src: url(fonts/Poppins-ExtraLight.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Poppins-Medium; /* Гарнитура шрифта */
    src: url(fonts/Poppins-Medium.ttf); /* Путь к файлу со шрифтом */
}



body {
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 0px;
    color: white;
}

p {
    margin: 0px;
    color: white;
}


a {
     color: white;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

table a {
    color: black;
}

header {
    margin: 0px;
}

.Header {
    width: 100%;
    margin: 0px;
/*    height: 90vh;*/
    background-image: url(img/HeaderBackground.jpg) ;
}   

.header__container {
/*    background-color: aqua;*/
/*    max-width: 150px;*/
    height: 96vh;
/*    margin: 0px auto;*/
    padding: 22px 0px;
    display: flex;
/*    flex-wrap: wrap;*/
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
/*    align-content: center;*/
/*    text-align: center;*/
/*    align-self: center;*/
/*    align-content: space-between;*/
}

.header__NameBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
/*    align-content: space-between;*/
/*    justify-content: space-between;*/
}

.header__TeamName {
    font-family: Montserrat-Bold;
    font-size: 30px;
}
.TeamName__Description {
    font-family: Montserrat-Regular;
    font-size: 17px;
}

.AboutUs {
/*    width: 100%;*/
/*    height: 850px;*/
    padding: 30px 25px;
/*    margin: 0px -140px;*/
/*    background-color: aqua;*/
    display: flex;
    flex-direction: column;
align-items: center;
    
}

.AboutUs__about {
    text-align: center;
/*    background-color: forestgreen;*/
    color: black;
    font-family: Montserrat-Regular;
    font-size: 24px;
}

.AUaB {
    font-family: Montserrat-Bold;
}

.AboutUs_Text {
    font-family: Montserrat-Bold;
    font-size: 30px;
    color: black;
    margin-top: 50px;
    margin-bottom: 130px;
}

.AboutUs_Staff {
/*    background-color: firebrick;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
}

.Staff_Card {
    background-color: chocolate;
    width: 307px;
    height: 376px;
    margin: 20px 20px;
    border-radius: 14px 14px 5px 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.25);
}

/*
.firstCard {
    margin-left: 0px;
    margin-right: 15px;
}

.endCard {
    margin-right: 0px;
    margin-left: 15px;
}
*/

.Cat_ThePerson {
    height: 281px;
/*    background-color: #D46738;*/
    
    border-radius: 14px 14px 0px 0px;
}

.cardPavel {
    background-color: #D46738;
}
.cardDaria {
    background-color: #B94C8D;}
.cardGleb {
    background-color: #C9B33F;}
.cardHarsh {
    background-color: #38D493;}
.cardSlava {
    background-color: #3B39A7;}


.StaffCard_AboutThePerson {
    height: 95px;
    background-color: white;
    
    border-radius: 0px 0px 5px 5px;
}

.TableLeft {
    text-align: left;
    font-family: Poppins-ExtraLight; 
    font-size: 14px; 
}
.TableRight {
    text-align: right;
}

.TeamSkills {
    height: 1080px;
    background-color: coral;
}

.Products {
    height: 100vh;
    background-color: #386FA4;
    display: flex;
    flex-flow: row;
}
.Products__Path{
    margin: auto auto;
    font-family: Montserrat-Bold;
    font-size: 30px;
}


.Products__Screenshot {
    width: 50vw;
    height: 100vh;
    background-color: white; 
}
.Screenshot {
    margin: 50px auto;
    background: url(img/AppScreenshots/product%20-%20fores.jpg) no-repeat;
    background-size: contain;
    height: 875px;
    width: 440px;
}
/*
.AboutTeam__Screenshot img {

    background-color: aqua;
}*/

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .AboutUs {
        padding: 30px 15px;
    }
    
    .AboutUs_Text {
        margin-bottom: 50px;
    }
    
.Staff_Card {
    margin: 20px auto;
}
    
    .Products {
        height: 100vh;
        display: flex;
        flex-flow: column;
    }
    .Products__Path {
        margin: auto 50px;
/*        background-color: firebrick;*/
        height: 25vh;
        font-size: 34px;
    }
    .Products__Path a {
        font-size: 56px;
    }
    .Products__Screenshot {
/*        display: flex;*/
/*
        align-content: center;
        justify-content: center;
*/
/*        margin: auto 50px;*/
        width: 100vw;
/*        height: 75vh;*/
        background-color: white;
/*        height: auto;*/
    }
    .Screenshot {
/*        margin: 25px auto;*/
/*        justify-content: center;*/
/*        margin: 25px 50px;*/
/*        align-items: center;*/
/*        background-color: forestgreen;*/
        height: 90%;
        width: 90%;
    }
}