@font-face {
    font-family: Montserrat-Bold; /* Гарнитура шрифта */
    src: url(fonts/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Montserrat-SemiBold; /* Гарнитура шрифта */
    src: url(fonts/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Montserrat-Regular; /* Гарнитура шрифта */
    src: url(fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Poppins-ExtraLight; /* Гарнитура шрифта */
    src: url(fonts/Poppins-ExtraLight.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Poppins-Medium; /* Гарнитура шрифта */
    src: url(fonts/Poppins-Medium.ttf); /* Путь к файлу со шрифтом */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 0px;
    color: white;
}

p {
    margin: 0px;
    color: white;
}


a {
     color: white;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

table a {
    color: black;
}

header {
    margin: 0px;
}


input, textarea{
  padding: 10px;
}

.Header {
    width: 100%;
    margin: 0px;
    height: 100vh;
    background-image: url(img/HeaderBackground.jpg) ;
}   

.header__container {
/*    background-color: aqua;*/
/*    max-width: 150px;*/
    height: 96vh;
/*    margin: 0px auto;*/
    padding: 22px 0px;
    display: flex;
/*    flex-wrap: wrap;*/
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
/*    align-content: center;*/
/*    text-align: center;*/
/*    align-self: center;*/
/*    align-content: space-between;*/
}

.header__NameBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
/*    align-content: space-between;*/
/*    justify-content: space-between;*/
}

.header__TeamName {
    font-family: Montserrat-Bold;
    font-size: 30px;
}

.WhatWeUse {
    /* width: 100vw; */
    height: 100vh;
    background-color: #344552;
}

.Text h1 {
    padding: 120px 78px 230px 78px;

    font-family: Montserrat-Bold;
    font-size: 56px;
}
.Text hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #1DD3EC; /* Цвет линии для остальных браузеров */
    background-color: #1DD3EC; /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
}
.WhatWeUse_Blocks {
    padding: 50px 160px 160px 75px;
    display: flex;
    flex-flow: row;
    
    font-family: Montserrat-Regular;
    font-size: 24px;
    /* justify-content: space-around; */
}

.WhatWeUse_Blocks p {
    padding-bottom: 30px;
}

.Design, .WebDev, .ToolsIDE, .Mobile, .ProgrammingLang {
    
/*    padding: 0px 80px;*/
}

.Block {
    display: flex;
    flex-flow: row;
    min-width: 530px;
}

.ToolBlock {
    padding: 15px 25px;
    margin: 0px 10px;
    width: fit-content;
    border: 1px solid #EBC70F;
    border-radius: 30px;
    color: white;
}

/**/

.FG {border-color: #E64A19;}
.AI {border-color: #FF7C01;}
.Rjs {border-color: #206BE1;}
.HTML {border-color: #E65100;}
.CSS {border-color: #0277BD;}
.VS {border-color: #BE88F6;}
.QTC {border-color: #41CD52;}
.Br {border-color: #206BE1;}
.Fl {border-color: #40C4FF;}
.Hv {border-color: #5C60E5;}
.JS {border-color: #EBC70F;}
.Dr {border-color: #42A5F5;}
.CSH {border-color: #390091;}
.CP {border-color: #206BE1;}

/**/

.TeamName__Description {
    font-family: Montserrat-Regular;
    font-size: 17px;
}

.AboutUs {
/*    width: 100%;*/
/*    height: 850px;*/
    padding: 30px 25px;
/*    margin: 0px -140px;*/
/*    background-color: aqua;*/
    display: flex;
    flex-direction: column;
align-items: center;
    
}

.AboutUs__about {
    text-align: center;
/*    background-color: forestgreen;*/
    color: black;
    font-family: Montserrat-Regular;
    font-size: 24px;
}

.AUaB {
    font-family: Montserrat-Bold;
}

.AboutUs_Text {
    font-family: Montserrat-Bold;
    font-size: 30px;
    color: black;
    margin-top: 50px;
    margin-bottom: 130px;
}

.AboutUs_Staff {
/*    background-color: firebrick;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
}

.Staff_Card {
    background-color: chocolate;
    width: 307px;
    height: 376px;
    margin: 20px 20px;
    border-radius: 14px 14px 5px 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.Cat_ThePerson {
    height: 281px;
/*    background-color: #D46738;*/
    
    border-radius: 14px 14px 0px 0px;
}

.cardPavel {
    background-image: url(img/StaffCats/shoshi.png);
}
.cardDaria {
    background-image: url(img/StaffCats/artiskat.png);
}
.cardRuslan {
    background-image: url(img/StaffCats/ruslan.jpg);
}
.cardGleb {
    background-image: url(img/StaffCats/Hleb.jpg);
}


.StaffCard_AboutThePerson {
    height: 95px;
    background-color: white;
    
    border-radius: 0px 0px 5px 5px;
}

.TableLeft {
    text-align: left;
    font-family: Poppins-ExtraLight; 
    font-size: 14px; 
}
.TableRight {
    text-align: right;
}

.TeamSkills {
    height: 1080px;
    background-color: coral;
}

.Products {
    height: 100vh;
    background-color: #386FA4;
    display: flex;
    flex-flow: row;
}
.Products__Path{
    margin: auto auto;
    font-family: Montserrat-Bold;
    font-size: 30px;
}


.Products__Screenshot {
    width: 50vw;
    height: 100vh;
    background-color: white; 
}
.Screenshot {
    margin: 50px auto;
    background: url(img/AppScreenshots/product%20-%20fores.jpg) no-repeat;
    background-size: contain;
    height: 875px;
    width: 440px;
}

.footer {
    color: white;
    height: 100vh;
    background-color: #344552;
    margin: 0 auto;

}

.ContactUs {
    text-align: center;
        
/*    margin: 0 auto;*/
/*    width: 100vw;*/
    height: 80vh;
/*    background-color: firebrick;*/
}

.ContactUs p {
        font-family: Montserrat-Regular;
    font-size: 24px;
    color: white;
}

.InputForm {
    margin: 15px;
    width: 590px;
    height: 35px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: black;
}

.IFStart {
    margin-top: 55px;
    margin-bottom: 0px;
}

.IFTextArea {
    margin-top: 0px; 
    height: 215px;
}

.Copyright {
    text-align: center;
    display: flex;
/*    column-gap: 5px;*/
    flex-direction: column;
    justify-content: flex-end;
    
    height: 160px;
    background-color: #344552;
/*    align-items: flex-end;*/
/*    margin: 5px 0px;*/
}

.CI {
    margin: auto 65px;
}

.PathCopyright {
    
/*    background-color: deeppink;*/
}

.Copyright a {
    font-family: Montserrat-Regular;
    font-size: 24px;
    text-decoration-line: none;
    font-weight: 400;
    color: white;
}

.Copyright th {
    font-family: Poppins-ExtraLight;
    font-size: 16px;
}
@media only screen and (min-width : 320px) and (max-width : 426px) {
    
    .WhatWeUse {
        height: auto;
    }
    
    .Text h1 {
    padding: 120px 78px 230px 78px;

    font-family: Montserrat-Bold;
    font-size: 56px;
}
.Text hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #1DD3EC; /* Цвет линии для остальных браузеров */
    background-color: #1DD3EC; /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
}
    
    
.WhatWeUse_Blocks {
    display: flex;
    flex-flow: column;
    
    font-family: Montserrat-Regular;
    font-size: 24px;
}


.Block {
    display: flex;
    flex-flow: column;
    min-width: 230px;
}

.ToolBlock {
    padding: 15px 25px;
    margin: 10px 0px;
/*    width: fit-content;*/
/*    height: auto;*/
    border: 1px solid #EBC70F;
    border-radius: 30px;
    color: white;
}
    
    
    .AboutUs {
        padding: 30px 15px;
    }
    
    .AboutUs_Text {
        margin-bottom: 50px;
    }
    
.Staff_Card {
    margin: 20px auto;
}
    
    .Products {
        height: 100vh;
        display: flex;
        flex-flow: column;
    }
    .Products__Path {
        margin: auto 50px;
/*        background-color: firebrick;*/
        height: 25vh;
        font-size: 34px;
    }
    .Products__Path a {
        font-size: 56px;
    }
    .Products__Screenshot {
/*        display: flex;*/
/*
        align-content: center;
        justify-content: center;
*/
/*        margin: auto 50px;*/
        width: 100vw;
/*        height: 75vh;*/
        background-color: white;
/*        height: auto;*/
    }
    .Screenshot {
/*        margin: 25px auto;*/
/*        justify-content: center;*/
/*        margin: 25px 50px;*/
/*        align-items: center;*/
/*        background-color: forestgreen;*/
        height: 90%;
        width: 90%;
    }
    
    .InputForm {
        width: 280px;
    }
    
    .Copyright a {
        margin: auto 10px;
        font-size: 16px;
    }
}

@media only screen and (min-width : 426px) and (max-width : 1440px) {
    
    .WhatWeUse {
        height: auto;
    }
    
    .Text h1 {
    padding: 120px 78px 230px 78px;

    font-family: Montserrat-Bold;
    font-size: 56px;
    }
    .Text hr {
        border: none; /* Убираем границу для браузера Firefox */
        color: #1DD3EC; /* Цвет линии для остальных браузеров */
        background-color: #1DD3EC; /* Цвет линии для браузера Firefox и Opera */
        height: 1px;
    }


    .WhatWeUse_Blocks {
        padding: 10px;
    padding: auto;
        display: flex;
        flex-flow: row;
/*        justify-content: space-between;*/

        font-family: Montserrat-Regular;
        font-size: 24px;
    }


    .Block {
        margin-left: 15px;
/*        margin: 0px 15px;*/
        display: flex;
        flex-flow: column;
        min-width: 230px;
    }

    .ToolBlock {
        padding: 15px 25px;
        margin: 10px 10px;
    /*    width: fit-content;*/
    /*    height: auto;*/
        border: 1px solid #EBC70F;
        border-radius: 30px;
        color: white;
    }
    
    .Screenshot {
                height: 80%;
        width: 80%;
    }
}

@media only screen and (min-width : 1024px) and (max-width : 1440px) {
        .Block {
        margin: 0px 30px;
    }
}

@media only screen and (min-width : 1025px) and (max-width : 1440px) {
    
        .Block {
/*        margin: 0px 20px;*/
            flex-flow: row;
    }
}